/* ----------------Секция About----------- */

.about {
	padding-bottom: 71px;
}

.about__header {
	margin-bottom: 16px;
}

.about__descr {
	margin: 0;
	max-width: 1090px;
	line-height: 32px;
}


@media (max-width: 500px) {
	.section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.about {
		padding-bottom: 40px;
	}
	
	.header-two-lvl {
		font-size: 28px;
		line-height: 38px;
	}
	.about__header {
		margin-bottom: 13px;
	}
	.about__descr {
		font-size: 14px;
		line-height: 28px;
	}
}