


.events {
    padding-top: 40px;
    padding-bottom: 40px;
}
.events__header {
    margin-bottom: 16px;
}

.events__content {
    position: relative;
}

.events__btn-nav {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--grey-ultra-light-two);
    border: none;
    transition-property: background-color, outline, opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

.events__btn-nav::after {
    font-size: 22px;
    color: var(--black);
}
.events__btn-nav--prev {
    left: -25px;
}

.events__btn-nav--next {
    right: -25px;
}

.events__btn-nav:hover {
    background-color: var(--violet-super-lite);
}

.events__btn-nav:focus {
    outline: 2px solid var(--violet-middle);
}

.events__btn-nav:active {
    background-color: var(--violet-super-lite);
    outline: 2px solid var(--violet-middle);
}





/* .events__btn-nav-span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-color: var(--black);
}

.events__btn-nav-span--prev {
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    transform: rotate(45deg);
} */






.events__swiper {
    overflow: hidden;
}

.events__wrap-list {
    box-sizing: border-box;
}

.events__item {
    height: auto;
}

.e-slide {
    display: flex;
    height: 100%;
    flex-direction: column;
}

/* .e-slide:focus {
    outline: none;
} */

.e-slide__image-box {
    min-height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.e-slide__image-box--1 {
    background-image: url('../img/events/e-slide1_1920.jpg');
}
.e-slide__image-box--2 {
    background-image: url('../img/events/e-slide2_1920.jpg');
}
.e-slide__image-box--3 {
    background-image: url('../img/events/e-slide3_1920.jpg');
}
.e-slide__image-box--4 {
    background-image: url('../img/events/e-slide4_1920.jpg');
}
.e-slide__image-box--5 {
    background-image: url('../img/events/e-slide5_1920.jpg');
}

.e-slide__content-box {
    min-height: 400px;
    height: 100%;
    flex-direction: column;
    align-items: start;
    padding: 13px 50px 39px 50px;
    border:1px solid var(--grey-ultra-light);
    border-top: none;
}

.e-slide__label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    /* text-align: left; */
    color: var(--grey);
}

.e-slide__label--time {
    margin-bottom: 13px;
}

.e-slide__header {
    margin-bottom: 10px;
}

/* подстраиваю отступ под макетный баг */
.header-layout-bug {
    margin-bottom: 4px;
}

.e-slide__descr {
    margin: 0;
}

.e-slide__bottom {
    margin-top: auto;
    padding-top: 30px;
}

.e-slide__link-text {
    position: relative;
}

.events__pagination {
    display: none;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -50px;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--grey-ultra-light);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--grey-dark);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px)
}





@media(max-width: 1024px) {
    .events {
        padding-top: 42px;
    }
    .events__btn-nav {
        display: none;
    }
    .events__pagination {
        display: block;
    }

    .e-slide__image-box {
        min-height: 200px;
    }
    
    .e-slide__image-box--1 {
        background-image: url('../img/events/e-slide1_1024.jpg');
    }
    .e-slide__image-box--2 {
        background-image: url('../img/events/e-slide2_1024.jpg');
    }
    .e-slide__image-box--3 {
        background-image: url('../img/events/e-slide3_1024.jpg');
    }
    .e-slide__image-box--4 {
        background-image: url('../img/events/e-slide4_1024.jpg');
    }
    .e-slide__image-box--5 {
        background-image: url('../img/events/e-slide5_1024.jpg');
    }

    .e-slide__content-box {
        padding: 14px 34px 49px;
    }

    .e-slide__content-box--bug {
        padding-left: 30px;
        padding-right: 30px;
    }

    .e-slide__label {
        align-self: flex-end;
        
        font-weight: 400;
    }
    .e-slide__label--time {
        margin-bottom: 4px;
    }
    .e-slide__header {
        margin-bottom: 5px;
    }
    /*макетный баг */
    .header-layout-bug {
    margin-bottom: 8px;
    }
    .e-slide__bottom {
        padding-top: 20px;
    }
}   
