/* Модалка */

.g-popup {
	position: relative;
	color: var(--dark);
}

.g-popup__wrap {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	height: 100vh;
	
	/* Выравнивать СТРОГО через margin:auto у дочерних элементов,
	иначе автоскрол не захватывает верх контента */

	/* align-items: center;
	justify-content: center; */

	overflow-y: auto;
	overflow-x: hidden;
	background-color:var(--semi-transparent-black-two);
	opacity: 0;
	z-index: 100;
	visibility: hidden;
	transition-property: visibility, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.g-popup__wrap--visible {
	opacity: 1;
	visibility: visible;
}

.g-popup__modal {
	margin: auto;
	position: relative;
	display: none;
	background-color: var(--white);
	
}

.g-popup__modal--visible {
	display: flex;
}


.g-popup__image-box {
	width: 400px;
	height: 500px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.g-popup__image-box--1 {
	background-image: url('../img/gallery/image-slide-1_1920.jpg');
}
.g-popup__image-box--2 {
	background-image: url('../img/gallery/image-slide-2_1920.jpg');
}
.g-popup__image-box--3 {
	background-image: url('../img/gallery/image-slide-3_1920.jpg');
}
.g-popup__image-box--4 {
	background-image: url('../img/gallery/image-slide-4_1920.jpg');
}
.g-popup__image-box--5 {
	background-image: url('../img/gallery/image-slide-5_1920.jpg');
}
.g-popup__image-box--6 {
	background-image: url('../img/gallery/image-slide-6_1920.jpg');
}









.g-popup__content-box {
	display: flex;
	flex-direction: column;
	padding: 14px 50px 10px;
	align-self: center;
	max-width: 500px;
}





.g-popup__picture-year {
	margin: 0;
	margin-bottom: 33px;
	font-size: 12px;
	line-height: 16px;
	color: var(--grey-light);
}

.g-popup__descr {
	margin: 0;
}

.g-popup__btn-close {
	position: absolute;
	right: 20px;
	top: 20px;
	color: var(--black);
}



/* ----------МЕДИАЗАПРОСЫ------- */


@media (max-width: 1024px) {
    .g-popup__image-box {
		width: 264px;
		height: 594px;
	}

	.g-popup__content-box {
		max-width: 330px;
	}
}

@media (max-width: 768px) {
    .g-popup__image-box {
		width: 301px;
	}

	.g-popup__content-box {
		max-width: 367px;
	}
}

@media (max-width: 760px) {
	.g-popup__modal {
		width: 50vw;
		min-width: 290px;
		align-items: center;
		flex-direction: column;
	}

	.g-popup__image-box {
		width: 100%;
		height: 25vh;
		background-size: 100% auto;
	}

	.g-popup__content-box {
		padding: 20px;
	}
}

@media (max-width: 420px) {
    .g-popup__image-box {
		height: 200px;
	}

	.g-popup__btn-close {
		right: 10px;
		top: 10px;
	}
}

