
.projects {
  padding-top: 40px;
  padding-bottom: 40px;
}

.projects__header {
  margin-bottom: 16px;
}

.projects__descr {
  max-width: 1080px;
  margin-top: 0;
  margin-bottom: 20px;
}

.projects__link {
  position: relative;
  color: var(--violet-middle);
  transition: color var(--short);
}

.projects__link-text {
  position: relative;
  white-space: nowrap;
}

.projects__link::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -4px;
  right: -4px;
  bottom: -2px;
  background-color: var(--violet-middle);
  opacity: 0;
  transition: opacity var(--short);
}

.projects__link::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid var(--violet-middle);
  opacity: 0;
  transition: opacity var(--short), border-color var(--short);
}

.projects__link:hover::after {
  opacity: 1;
}

.projects__link:focus {
  outline: none;
}

.projects__link:focus:not(:hover):not(:active) {
  color: var(--white);
}

.projects__link:focus:not(:hover):not(:active)::before {
  opacity: 1;
}

.projects__link:active {
  color: var(--violet-dark);
}

.projects__link:active:after {
  opacity: 1;
  border-color: var(--violet-dark);
}

.projects__partners-header {
  margin-bottom: 23px;
}

.projects__swiper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Кнопки */
.projects__btn-nav {
  position: static;
  width: 30px;
  height: 30px;
  margin-top: 0;
  padding: 0;
  border-radius: 50%;
  background-color: var(--grey-ultra-light-two);
  border: none;
  transition-property: background-color, outline, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.projects__btn-nav::after {
  font-size: 12px;
  color: var(--black);
}

.projects__btn-nav:hover {
  background-color: var(--violet-super-lite);
}

.projects__btn-nav:focus {
  outline: 2px solid var(--violet-middle);
}

.projects__btn-nav:active {
  background-color: var(--violet-super-lite);
  outline: 2px solid var(--violet-middle);
}

/* Слайдер */
.p-swiper {
  width: calc(1450 * 100% / 1600);
  overflow: hidden;
}

.p-swiper__wrap-list {
  box-sizing: border-box;
}

.p-swiper__link {
  display: flex;
  height: 150px;
  padding: 32px 60px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid var(--grey-ultra-light);
  transition: border-color var(--short);
}

.p-swiper__link-image {
  max-height: 100%;
  filter:grayscale(1);
  opacity: 0.4;
  transition: filter var(--short), opacity var(--short);
}

/* hover: */
.p-swiper__link:hover .p-swiper__link-image {
  opacity: 1;
  filter: grayscale(0);
}

/* focus: */
.p-swiper__link:focus {
  border-color: var(--violet-middle);
}

.p-swiper__link:active {
  border-color: var(--violet-middle);
}

/* active: */
.p-swiper__link:active .p-swiper__link-image {
  opacity: 1;
  filter: grayscale(0);
}


@media(max-width: 1024px) {
  .p-swiper {
    width: calc(818 * 100% / 924);
  }

  .p-swiper__link {
    height: 128px;
    padding: 27px 50px;
  }
}


@media(max-width: 768px) {
  .projects__descr {
    margin-bottom: 26px;
  }

  .projects__partners-header {
    margin-bottom: 29px;
  }

  .p-swiper {
    width: calc(562 * 100% / 668);
  }

  .p-swiper__link {
    height: 106px;
    padding: 17px 24px;
  }
}


@media(max-width: 420px) {
  .projects {
    padding-bottom: 25px;
  }

  .projects__header {
    margin-bottom: 12px;
  }

  .projects__descr {
    margin-bottom: 9px;
    letter-spacing: -0.25px;
  }

  .projects__partners-header {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
  }

  .p-swiper {
    width: calc(195 * 100% / 290);
  }

  .p-swiper__link {
    height: 65px;
    padding: 14px 27px;
  }
}


