*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Helevatica", sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.questions {
  list-style: none;
}

.question:first-child .heading {
  border-top: 1px solid lightgray;
}

.heading {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid lightgray;
  border-right: none;
  border-left: none;
  transition: border-color 0.3s ease;
  padding: 40px 120px 40px 40px;
  font-size: 24px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.question:first-child .heading:hover,
.heading:hover,
.is-active.question:first-child .heading,
.is-active.question .heading {
  border-color: #9d5cd0;
}

.heading__text {
  position: relative;
}

.heading__text-wrap {
  position: relative;
  z-index: 1;
}

.heading__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: #9d5cd0;
  transition: transform 0.3s ease;
}

.heading:hover {
  color: #9d5cd0;
}

.heading:focus {
  color: #ffffff;
  outline: none;
}

.heading:focus .heading__text::before {
  transform: translate(-50%, -50%) scaleX(1);
}

.head-icon {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 60px;
  height: 60px;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
}

.head-icon-round {
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.heading:hover .head-icon-round,
.heading:focus .head-icon-round {
  fill: #d1a9f0;
  stroke: #d1a9f0;
}

.heading:hover .head-icon::before,
.heading:hover .head-icon::after,
.heading:focus .head-icon::before,
.heading:focus .head-icon::after {
  background-color: #fff;
}

.is-active .head-icon {
  transform: translateY(-50%) rotate(0);
}

.is-active .heading .head-icon-round {
  fill: #d1a9f0;
  stroke: #9d5cd0;
}

.content {
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
  border-bottom: 1px solid transparent;
}

.is-active .content {
  visibility: visible;
  border-color: lightgray;
}

.content-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;
}

.test-list {
  padding-left: 0;
  column-count: 3;
  list-style: none;
}

.test-item {
  width: calc(100% / 3 - 20px);
}

@media (max-width: 1024px) {
  .test-item {
    width: calc(100% / 2 - 30px);
  }
}
