/* Подключаю глобальные стили */
/* @import url(_global.css); */
/* @import url(_header.css); */
/* @import url(_hero.css); */
@import url(_about.css);
@import url(_gallery.css);
@import url(_catalog.css);
@import url(_events.css);
@import url(_projects.css);
@import url(_contacts.css);



@import url(_g-popup.css);





.footer {
  background-color: var(--black);
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 48px;
  font-size: 0;
}

.footer__list-item:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  color: var(--grey-ultra-light);
  transition: color var(--short);
}

.footer__link:focus {
  outline: none;
}

.footer__link:hover:not(:active),
.footer__link:focus:not(:active) {
  color: var(--white);
}

.footer__link:active {
  color: var(--violet-middle);
}

@media(max-width: 1024px) {
  .footer__box {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__list-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__link-image {
    height: 60px;
    width: 60px;
  }
}

@media(max-width: 600px) {
  .footer__box {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer__logo-link {
    order: 1
  }

  .footer__list {
    margin-bottom: 20px;
  }

  .footer__link-image {
    width: 50px;
    height: 50px;
  }
}
